.app-container {
    min-height: 350px;
}

.cash-flow-detail {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 680px;
}

.rv-radial-chart {
  margin: auto;
}

.text-smaller {
  font-size: smaller;
}